{% extends "layout.html" %}
{% block content %}
  {% if active_page == "overview" %}
    {% include "partials/overview.html" %}
  {% elif active_page == "run" %}
    {% include "partials/run.html" %}
  {% elif active_page == "settings" %}
    {% include "partials/settings.html" %}
  {% elif active_page == "suggestions" %}
    {% include "partials/suggestions.html" %}
  {% elif active_page == "review" %}
    {% include "partials/review.html" %}
  {% elif active_page == "memory" %}
    {% include "partials/memory.html" %}
  {% elif active_page == "artifacts" %}
    {% include "partials/artifacts.html" %}
  {% elif active_page == "logs" %}
    {% include "partials/logs.html" %}
  {% endif %}
{% endblock %}
